<h1> Edit Password </h1>

<%= form_with model: Current.user, url: update_password_path do |f|%>
    
    <% if f.object.errors.any? %>
        <div>
            <% f.object.errors.full_messages.each do |message|%>
                <div class="alert alert-danger">
                    <%= message%>
                </div>
            <% end %>
        </div>    
    <% end %>

    <div class="mb-3">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Choose a Password" %>
    </div>
    <div class="mb-3">
        <%= f.label :password_confirmation, "password_confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Repeat your Password" %>
    </div>
    <div>
        <%= f.submit "Update Password", class:"btn btn-info" %>
    </div> 

<% end %>
